@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
    width: 100%;
    min-height: 100vh;
}

:root {
    font-family: "Roboto", sans-serif;
    --light-100: #303030;
    --light-200: #A7A7A7;
    --light-300: #FFFFFF;
    --light-400: #EDEDED;
}

.dark {
    --light-100: #505050;
    --light-200: #3F3F3F;
    --light-300: #1B1B1B;
    --light-400: #000000;
}